{% extends "base.html" %}
{% block page_content %}
<h1>Projetos</h1>
<div class="row">
    {%for projeto in projetos%}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{projeto.titulo}}</5>
                <p class = "card-text">{{projeto.descricao}}</p>
                <a href="{% url "detalhe" projeto.pk %}" class="btn btn-primary">
                    Leia mais
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
